
*.cbp

*.save

*.depend

*.layout

*.mdsp

*.exe

*.xlsx

*.opj

e_Rfr-.txt

Cross_O2_lxtype.txt

e_Rfr+.txt

EEDF_data.txt

Gas_data.txt

gmon.out

Log_Chemistry.txt

Log_CS.txt

*.o

Log_EEDF.txt

Log_GasDB.txt

Log_Kch.txt

N_Rfr-.txt

N_Rfr+.txt

N[2D]_Rfr-.txt

N[2D]_Rfr+.txt

N[2P]_Rfr-.txt

N[2P]_Rfr+.txt

N2_chemistry_old.txt

N2(15)_Rfr-.txt

N2(15)_Rfr+.txt

N2[C]_Rfr-.txt

N2[C]_Rfr+.txt

N2+_Rfr-.txt

O2_chemistry.txt

ReactionSet.txt

VDF_data.txt

N2+_Rfr+.txt

N[2D]_Rfr-.txt
